html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.rounded-button {
   
    color: linear-gradient(145deg, #32613e, #32613e);
   
}

    .rounded-button:hover {
        color: linear-gradient(145deg, #aba643, #aba643);
       
    }

    .rounded-button:active {
        color: linear-gradient(145deg, #32613e, #aba643);
        
    }